/*头部*/
.navbar_top {
	width: 100%;
	overflow: hidden;
	height: 26px;
	line-height: 26px;
	background-color: #f0f0f0;
}
.navbar_nn_left,.navbar_nn_right {
	width: 50%;
	font-size: 10px;
	color: #7d7d7d;
}
.navbar_nn_right {
	text-align: right;
}
.load_t i {
   display: inline-block;
   float: right;
   width: 26px;
   height: 26px;
   margin-right: 5px;
   background: url("../images/load.png");
   background-size: 70% 68%;
   background-position: 7px 5px;
   background-repeat: no-repeat;
}
.load_t span {
	display: inline-block;
	float: right;
}
/*logo部分*/
.navbar_center {
	overflow: hidden;
	/*background-color: yellow;*/
	height: 95px;
}
.navbar_center_left {
	width: 75%;
	/*background-color: #f79898;*/
}
.navbar_center_right {
    width: 25%;
}
.navbar_center_left img {
	width: 260px;
	margin-top: 5px;
}
.weixin {
	font-size: 14px;
	color: #a69b9b;
	margin-top: 40px;
	text-align: right;
}
.weixin i {
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	background-color: blue;
	vertical-align: center;
	background: url("../images/weixin_logo.png");
    background-size: 80% 80%;
    background-position: 2px 0px;
   background-repeat: no-repeat;
}
.weixin span{
	display: inline-block;
	float: right;
	font-family: "微软雅黑";
	margin-right: 1px;

}
.phone_call {
    font-size: 15px;
    color：#6b6a6a;
    font-family: "微软雅黑";
    text-align: right;
}
.phone_call span {
	color: red;
	font-family: "微软雅黑";
	font-weight: bold;
}
/*导航部分*/
.navbar_buttom {
	width: 100%;
	background-color: #f0f0f0;
	overflow: hidden;
	height: 50px;
}
.nav_dh ul li{
	float: left;
	line-height: 50px;
	margin-right: 0px;
}
.nav_dh ul li a {
 display: block;
 padding: 0px 15px;
 color: #706f6f !important;
 font-size: 15px;
 font-family: "微软雅黑";
 /*background-color: green;*/
}
.nav_dh ul li a:hover {
	color: #b28850 !important;
	font-family: "微软雅黑";
}

/*新闻中心*/
.news_n {
	overflow: hidden;
	background-color: yellow;
	height: 300px;
}
.news_left {
	width: 65%;
   /* background-color: red;*/
}
.notice,.dynamic {
	width: 49%;
	/*background-color: blue;*/
	margin-right: 14px;
}
.dynamic {
	margin-right: 0px;
}
.notice ul,.dynamic ul {
	border-left: #b5b5b5 solid 2px;
	border-right: #b5b5b5 solid 2px;
	border-bottom: #b5b5b5 solid 2px;
}
.notice h2,.dynamic h2 {
	height: 35px;
	line-height: 35px;
	background-color: #c9a063;
	color: white;
	font-size: 13px;
	margin-top: 20px;
}
.notice h2 span {
	font-size: 15px;
	font-family: "微软雅黑";
	margin-left: 20px;
}
.notice ul li,.dynamic ul li {
	height: 30px;
	line-height: 30px;
	width: 90%;
	font-size: 12px;
	margin: 0 auto;
	border-bottom: #ababab dashed 1px;
}