/*头部*/
.navbar_top {
	width: 100%;
	overflow: hidden;
	height: 26px;
	line-height: 26px;
	background-color: #f0f0f0;
}
.navbar_nn_left,.navbar_nn_right {
	width: 50%;
	font-size: 10px;
	color: #7d7d7d;
}
.navbar_nn_right {
	text-align: right;
}
.load_t i {
   display: inline-block;
   float: right;
   width: 26px;
   height: 26px;
   margin-right: 5px;
   background: url("../images/load.png");
   background-size: 70% 68%;
   background-position: 7px 5px;
   background-repeat: no-repeat;
}
.load_t span {
	display: inline-block;
	float: right;
}
/*logo部分*/
.navbar_center {
	overflow: hidden;
	/*background-color: yellow;*/
	height: 95px;
}
.navbar_center_left {
	width: 75%;
	/*background-color: #f79898;*/
}
.navbar_center_right {
    width: 25%;
}
.navbar_center_left img {
	width: 260px;
	margin-top: 5px;
}
.weixin {
	font-size: 14px;
	color: #a69b9b;
	margin-top: 40px;
	text-align: right;
}
.weixin i {
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	background-color: blue;
	vertical-align: center;
	background: url("../images/weixin_logo.png");
    background-size: 80% 80%;
    background-position: 2px 0px;
   background-repeat: no-repeat;
}
.weixin span{
	display: inline-block;
	float: right;
	font-family: "微软雅黑";
	margin-right: 1px;

}
.phone_call {
    font-size: 15px;
    color：#6b6a6a;
    font-family: "微软雅黑";
    text-align: right;
}
.phone_call span {
	color: red;
	font-family: "微软雅黑";
	font-weight: bold;
}
/*导航部分*/
.navbar_buttom {
	width: 100%;
	background-color: #f0f0f0;
	overflow: hidden;
	height: 50px;
}
.nav_dh ul li{
	float: left;
	line-height: 50px;
	margin-right: 0px;
}
.nav_dh ul li a {
 display: block;
 padding: 0px 15px;
 color: #706f6f;
 font-size: 15px;
 font-family: "微软雅黑";
 /*background-color: green;*/
}
.nav_dh ul li a:hover {
	color: #b28850 !important;
	font-family: "微软雅黑";
}
.onclass a {
  color: #c9a16c !important;
}

/*新闻中心*/
.news_n {
	overflow: hidden;
	/*background-color: yellow;*/
	height: 320px;
}
.news_left {
	width: 65%;
   /* background-color: red;*/
}
.news_right {
	position: relative;
	width: 35%;
   background-color: red;
}
.notice,.dynamic {
	width: 49%;
	/*background-color: blue;*/
	margin-right: 14px;
}
.dynamic {
	margin-right: 0px;
}
.notice ul,.dynamic ul {
	border-left: #b5b5b5 solid 2px;
	border-right: #b5b5b5 solid 2px;
	border-bottom: #b5b5b5 solid 2px;
}
.notice h2,.dynamic h2 {
	position: relative;
	height: 35px;
	line-height: 35px;
	background-color: #c9a063;
	color: white;
	font-size: 13px;
	margin-top: 20px;
}
.notice h2 span,.dynamic h2 span {
	font-size: 15px;
	font-family: "微软雅黑";
	margin-left: 20px;
}
.notice h2 a,.dynamic h2 a {
	position: absolute;
	top:0px;
	right: 5px;
	color: white;
}
.notice ul li,.dynamic ul li {
	position: relative;
	height: 30px;
	line-height: 30px;
	width: 90%;
	font-size: 12px;
	margin: 0 auto;
	border-bottom: #ababab dashed 1px;
}
.notice ul li:last-child,.dynamic ul li:last-child {
   border-bottom: none;
}
.notice ul li i,.dynamic ul li i{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: green;
    margin-top: 3px;
    margin-right: 6px;
    background:url("../images/icon_r.png");
    background-size: 100% 100%;
}
.new_time {
	position: absolute;
	display: inline-block;
	top: :0px;
	right: 0px;
}
.newsR_top,.newsR_buttom{
	position: absolute;
	width: 95%;
	height: 140px;
	background-color: #f0f0f0;
	top: 20px;
	right: 0px;
}
.newsR_buttom {
	top:164px;
	right: 0px;
}
.newsR_top span,.newsR_buttom span{
	display: inline-block;
	float: left;
	width: 50%;
	line-height: 150px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: "微软雅黑";
}
.newsR_top span img,.newsR_buttom span img {
	width: 70%;
	margin-top: 10px;
}

/*图标入口*/
.icon_entrence {
	overflow: hidden;
	height: 210px;
	/*background-color: yellow;*/
}
.icon_entrence ul li {
	float: left;
	width: 16.6%;
	text-align: center;
	margin-top: 45px;
}
.icon_entrence ul li h3 {
	font-size: 12px;
	font-family: "微软雅黑";
}
/*产品标题*/
.product_title {
	text-align: center;
	padding-top: -1px;
	height: 95px;
	/*background-color: #b0fae8;*/
}
.pro_w {
   width: 40%;
 }
 .product_z {
 	overflow: hidden;
 	padding-bottom: 15px;
 	border-bottom: #dadadb solid 1px;
 	/*background-color: #9cfae3;*/
 }
 .product_z h2 {
 	width: 100%;
 	background-color: #c9a063;
 	height: 30px;
 	line-height: 30px;
 	margin-top: 5px;
 	text-align: right;
 }
 .product_z h2 a {
 	display: inline-block;
 	color: white;
 	margin-right: 8px;
 }
 .product_z h2 a:hover {
    text-decoration: underline;
  }
 .product_z ul li {
  	float: left;
  	width: 16.6%;
  	text-align: center;
  	margin-top: 20px;
  }
  .Improvement_img {
  	margin-top: 20px;
  }
 .Improvement_img img {
    width: 100%;
 }

/* 合作单位*/
.cooperation_w {
	overflow: hidden;
	background-color: #f5f5f5;
}
.cooperation_img img {
	width: 100%;
}
/*底部*/
.bottom_w {
	overflow: hidden;
	/*background-color: #d5fafa;*/
	padding: 25px 0px;
}
.bottom_w ul li {
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	margin-top: 4px;
}
.bottom_w ul li span {
	display: inline-block;
	width: 100px;
}
.bottom_w ul li span img {
	width: 100%;
	background-size: 100%;
}

/*信息披露*/
.information_li {
	margin-top: 10px;
}
.info_list {
	width: 232px;
	overflow: hidden;
	/*background-color: #8deef7;*/
	margin-right: 20px;
}
.info_img {
	width: 844px;
	height: 284px;
	overflow: hidden;
	background-color: red
}
.info_img img {
	width: 100%;
}
.info_list {
   border: #d2d2d2 solid 1px;
}
.info_list ul li {
	position: relative;
	height: 60px;
	line-height: 60px;
}
.info_list ul li:first-child {
	height: 40px;
	line-height: 40px;
	color: white;
	background-color: #c9a16c;
}
.info_list ul li span {
	font-size: 12px;
	margin-left:20px; 
}
.info_list ul li i {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	top:20px;
	right: 10px;
	background: url("../images/arr_icon.png");
	background-size: 100% 100%;
}
.info_on {
	background-color: #f0f0f0;
}
.info_icon {
	overflow: hidden;
	/*background-color: yellow;*/
	padding-top: 20px !important;
}
.icon_left {
	width: 232px;
	overflow: hidden;
	margin-right: 20px;
	border:#d2d2d2 solid 1px;;
}
.down_load_add {
	margin-top: -20px;
	z-index: 1000;
}
.icon_left ul li {
	float: left;
	text-align: center;
	padding: 10px 0px;
	width: 50%;
}
.icon_left ul li h3 a {
   display: block;
   font-size: 14px;
   margin-top: 10px;
}
.icon_right {
	width: 844px;
	/*background-color: yellow;*/
}
.icon_left_title {
	overflow: hidden;
	height: 36px;
	line-height: 36px;
	background-color: #f0f0f0;
}
.info_notice,.info_position,.info_position a {
	font-size: 13px;
	color: #5f5e5e;
}
.info_notice {
	margin-left: 20px;
}
.info_position {
	float: right;
	margin-right: 20px;
}
.info_position a:hover {
	color: #cfa972;
}
.info_news_ll li {
	height: 80px;
	line-height: 80px;
	font-size: 14px;
}
.info_news_ll li i {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url("../images/icon_r.png");
	background-size: 100% 100%;
	margin-left: 20px;
	margin-right: 20px;
}
.info_news_ll li a:hover {
	color: #c9a16c;
}
.info_news_ll li span {
	float: right;
	margin-right: 20px;
	font-size: 12px;
}
/*分页*/
.page_wrap {
	overflow: hidden;
    width: 844px;
	height: 80px;
	/*background-color: yellow;*/
	
}
.page_wrap ul {
	margin-top: 25px;
	margin-left: 210px;
}
.page_wrap ul li {
	float: left;
	margin-right: 5px;
}
 .page_wrap ul li a {
 	display:block;
 	padding: 10px 10px;
	font-size: 12px;
 	border-radius: 4px;
    background-color: white;
 }
 .add_a a {
 	background-color: #c9a16c !important;
 	border:#d0cfce solid 1px;
 }
 .add_c a {
 	background-color: white !important;
 	border:#d0cfce solid 1px;
 }
 .add_b a {
 	background-color: #f7d1a0 !important;
 	border:#d0cfce solid 1px;
 }

/*下载中心*/
.downlad_Left {
	width: 232px;
	margin-top: 10px;
	margin-right: 20px;
}
.downlad_list li:first-child {
	height: 40px;
    line-height: 40px;
    color: white;
    background-color: #c9a16c;
}
.downlad_list li span {
   font-size: 12px;
    margin-left: 20px;
}
.downlad_list {
	border: #d2d2d2 solid 1px;
}
.downlad_list li {
	position: relative;
    height: 60px;
    line-height: 60px;
}
.downlad_list li i {
	position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 10px;
    background: url(../images/arr_icon.png);
    background-size: 100% 100%;
}
.icon_li {
	width: 230px;
	overflow: hidden;
	margin-top: 30px;
	border: #d2d2d2 solid 1px;
}
.icon_li li {
	float: left;
    text-align: center;
    padding: 10px 0px;
    width: 50%;
}